# KASSANDR - GRUPO 5
- Participantes:
    - Elias Tolentino
    - Gabriel Guedes

+ KASANDR é uma coleção de dados para sistema de recomendações que recorda o comportamento dos clientes do site de e-commerce Kelkoo na Europa nos países: Alemanha, França e Itália.
+ Foi usado um sample de 1mi de linhas dos clientes da alemanha para modelagem e analise desta apresentação

In [2]:
#IMPORT DE BIBLIOTECAS

import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
from scipy.sparse import csr_matrix

In [3]:
df_de_cat = pd.read_csv('category_de.txt') # DataFrame Informativo das categorias

In [4]:
df_de_cat.head()

            Ancestor_ID                 Name         ID
0                   601            Home Page        601
1            172601 601         Auto & Motor     172601
2  100372023 172601 601  Autoteile & Zubehör  100372023
3     173101 172601 601            Car Hi-Fi     173101
4  100426223 172601 601    Car Hi-Fi Zubehör  100426223

#### O ANCESTOR ID REÚNE, DA ESQUERDA PARA A DIREITA, ID DO PRODUTO -> HIERARQUIA DE MACROCATEGORIAS

## Tratamento de clicks

In [5]:
clicks_de = pd.read_csv('clicks_de_sample_2.txt', sep = ',', header=0) # df de clicks

In [6]:
clicks_de.drop(columns = ['Keywords'], axis = 1, inplace=True)
#clicks_de['Category'] = clicks_de['Category'].astype(str)
pontuacao_de = pd.DataFrame(clicks_de['Category'].value_counts()).reset_index()
pontuacao_de.columns = ['Category', 'Pontuacao']
dici = dict(zip(pontuacao_de.Category, pontuacao_de.Pontuacao))
clicks_de['Cat_clicks'] = clicks_de['Category'].map(dici)
clicks_de.sort_values(by='Cat_clicks', inplace = True)

In [7]:
## RENOMEANDO OFERTAS E USUÁRIOS
clicks_de['#User'] = clicks_de['UserId'].map(dict(zip(clicks_de['UserId'].unique(), 
                                                                        range(len(clicks_de['UserId']))))) # Redefinindo indices para usuário apenas como numérico

clicks_de['#Offer'] = clicks_de['OfferTitle'].map(dict(zip(clicks_de['OfferTitle'].unique(), 
                                                                        range(len(clicks_de['OfferTitle']))))) #  Redefinindo indices para ofertas apenas como numérico considerando o OfferTitle

In [8]:
clicks_de = clicks_de.merge(df_de_cat, left_on = 'Category', right_on = 'ID').drop('ID', axis = 1) # Adicionar

## Classificação das categorias e ofertas mais buscadas

In [9]:
categoria_buscas = clicks_de.groupby('Name')['Name'].count() 
categoria_buscas.sort_values(ascending = False) # Categorias mais buscadas

Name
Neuwagen & Gebrauchtwagen     38800
Fundgrube                     32027
Damenmode                     27941
Herrenmode                    14933
Badkeramik & Badzubehör       14738
                              ...
TV-Karten                        52
Prozessoren                      37
Motorräder, Roller & Quads       25
Sex Gags                          7
Erotikliteratur                   3
Name: Name, Length: 256, dtype: int64

In [10]:
produtos_buscas = clicks_de.groupby('OfferTitle')['Name'].count() 
produtos_buscas.sort_values(ascending = False) # Ofertas mais buscadas

OfferTitle
POC Cornea Snow Google                               3013
Apple 9                                              2449
Zimtstern Cover Snowboardjacke Herren mehrfarbig     2278
Zimtstern Snowy Mash Snowboardjacke Damen in grau    1417
Mammut Andalo Skijacke Herren in orange              1338
                                                     ...
Hendi Kochtopf mit Deckel Kitchen Line 16cm 2           1
Hendi Kühlschrank Thermometer                           1
Hendi SAHNESPENDER 0                                    1
Hendrick&#39;s (49.99 €/1l) Gin 44% Vol.                1
LUNA GUITARS SAFARI POLYNESIAN TATTOO                   1
Name: Name, Length: 292517, dtype: int64

In [11]:
clicks_de = clicks_de.merge(categoria_buscas, left_on = 'Name', right_index = True).drop('Name_x',axis = 1).rename({'Name_y': 'CategoryClicks'}, axis = 1) # Adição de coluna de Clicks por categoria
clicks_de.drop(columns = 'Cat_clicks', inplace = True)

In [12]:
clicks_de = clicks_de.merge(produtos_buscas, left_on = 'OfferTitle', right_index = True).drop('Name_x',axis = 1).rename({'Name_y': 'ProductClicks'}, axis = 1)  # Adição de coluna de clicks por produto/Offer

In [13]:
clicks_de['UserClicks'] = clicks_de['UserId'].map(dict(zip(clicks_de['UserId'].value_counts().index,
                                                           clicks_de['UserId'].value_counts().values))) #Criação de coluna com nº total de cliques do usuário

In [14]:
clicks_de_filtered = clicks_de[(clicks_de.UserClicks > 10)] # Filtro de usuários com 10 ou mais Clicks

In [15]:
clicks_de.head()

,UserId,OfferId,OfferViewId,CountryCode,Category,Source,UtcDate,OfferTitle,#User,#Offer,Ancestor_ID,CategoryClicks,ProductClicks,UserClicks
0,d37a4e15a65cb9e6b2a5c3bd6b109c2cbb8ea28ea0e249...,874006e61139f2b56ba21a46fe554753,874006e61139f2b56ba21a46fe554753-1076982502353...,de,128101,f7151fb3a6269230dcaa048646568c53ad69ab3b3d24ae...,2016-06-01 13:24:13.0,Buch - Süßer die Glocken...,0,0,128101 128001 100346123 601,3,2,1
2,7ff9936d1bc8fd24ff1e7333e0ff0b70b5214a949f3aa3...,874006e61139f2b56ba21a46fe554753,874006e61139f2b56ba21a46fe554753-1076982502353...,de,128101,f7151fb3a6269230dcaa048646568c53ad69ab3b3d24ae...,2016-06-01 07:58:40.0,Buch - Süßer die Glocken...,2,0,128101 128001 100346123 601,3,2,1
1,67d65125918799e0cb955526f8245b633c13729f20644d...,568777b0316aafe2b858d9a10e9ead28,568777b0316aafe2b858d9a10e9ead28-1076982502353...,de,128101,f7151fb3a6269230dcaa048646568c53ad69ab3b3d24ae...,2016-06-01 03:32:14.0,Buch - Shades of Grey 1 - Geheimes Verlangen,1,1,128101 128001 100346123 601,3,1,1
3,e94d7bb5f915bcc3a5968f6454d9dcd7fbec5885e09286...,e30f11660b6d8559e66bb00b9847324f,e30f11660b6d8559e66bb00b9847324f-1076982042286...,de,100270123,7ffbeedfb14f46f259001cefc4d79048ccef25b9e87207...,2016-06-02 02:26:14.0,Masturbator Mood Pleasure Stroker UR3 Thick Ri...,3,2,100270123 128001 100346123 601,7,1,1
4,515408cbdab92663d58bc03e6d14bcb298250f89052d99...,7e38a7b5c2881d5b38fada633fc36507,7e38a7b5c2881d5b38fada633fc36507-1076982511973...,de,100270123,978f3cfa5eec8581696bf86dfd458583ad718be08831ba...,2016-06-01 21:51:30.0,Masturbator Hustler Porn Star Pussy and Ass St...,4,3,100270123 128001 100346123 601,7,1,8

# Criação da matriz esparsa para avaliação da correlação entre usuários
- Para o sistema de recomendação, optou-se por um sitema de filtragem colaborativa, inicialmente com a abordagem Memory-based e User-based
- Matriz formada a partir dos usuarios nas colunas
- Como o dataset conta apenas com os cliques do usuario, considerou-se que seria mais coerente uma analise de coerrelação avaliando a similaridade de cliques entre usuários

In [16]:
sparse = clicks_de_filtered.pivot_table(index = '#Offer', columns = '#User', values = 'UserClicks') # Matriz criada considerando usuários nas colunas.
sparse # Como o dataset conta apenas com os cliques dados pelo usuário, considerou-se que seria mais coerente uma análise de correlação avaliando a similaridade de clicks entre usuários

#User,15,56,88,92,107,145,148,155,178,249,...,404005,404078,405012,405942,406772,407865,408237,408373,408495,409258
#Offer,,,,,,,,,,,,,,,,,,,,,
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292707,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
292721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,NaN
292756,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
292757,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
292761,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
sparse[sparse.isna()] = 0
sparse[sparse != 0] = 1 # O número de clicks de um usuário em uma mesma oferta foi considerado irrelevante. Considerou-se apenas se o usuário clicou ou não na oferta.

In [18]:
sparse.head()

#User,15,56,88,92,107,145,148,155,178,249,...,404005,404078,405012,405942,406772,407865,408237,408373,408495,409258
#Offer,,,,,,,,,,,,,,,,,,,,,
83,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
106,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
118,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
142,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
144,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Dicionário de Ofertas

In [19]:
clicks_de_filtered[['OfferTitle', '#Offer']]

                                               OfferTitle  #Offer
95      Black Magic Design - Intensity Pro Video PCIe ...      83
131                      Gigabyte GA-H110M-S2H S1151 H110     106
143     Asus MB S1150 ASUS Sabertooth Z97 Mark S ATX r...     118
173          ASRock MB Intel 1150 ASRock H97M Anniversary     142
175                            Asus H81M-C S1150 H81 MATX     144
...                                                   ...     ...
695007       Volvo XC90 D5 AWD Inscription LEDER NAVI LED  292707
695083  Skoda Superb Combi 2.0 TDI DSG*Exclusiv*Navi X...  292721
695248  BMW X1 xDrive20d xLine Navi USB PDC Shz Klimaaut.  292756
695250  Hyundai iX35 1.6 2WD Style/1.Hand/Klimaa./Lede...  292757
695271  Citroën Xsara Picasso 1.6 HDi FAP Confort Stan...  292761

[79545 rows x 2 columns]

In [20]:
offer_title = dict(zip(clicks_de_filtered['#Offer'].unique(), clicks_de_filtered['OfferTitle'].unique())) #Criação do dicionário que relaciona o nome da oferta (OfferTitle) com o código #Offer para tradução da recomendação dada

# SELECAO DE USUARIOS PARECIDOS COM O USUARIO SELECIONADO E RECOMENDAÇÕES
- Função que recebe o código das recomendações do usuário selecionado e retorna os nomes das ofertas (Parametro: clicks do usuário)
- Função que calcula as recomendações para um usuário (user) qualquer e retorna o top5 de ofertas mais relevantes

In [21]:
#Função que recebe o código das recomendações do usuário selecionado e retorna os nomes das ofertas, considerando os clicks do usuário (segundo parametro)
def result_final(recom: pd.Series, clicks_selected_user): 
    print('Clicks do usuário: ')  #Função que complementa a função lista_recomendacoes()
    for item in clicks_selected_user:
        print(offer_title[item])
    print(' ')
    print('Recomendações: ')
    for item in recom.index:
        #print(item)
        print(offer_title[item])

In [22]:
def lista_recomendacoes(user): #Função que calcula as recomendações para um usuário user qualquer e retorna o top5 de ofertas mais relevantes
    
    # Seleção de usuários com maior correlação com o usuário selecionado
    topmatch_users = (sparse.corrwith(sparse[user]).sort_values(ascending = False))[1:]
    clicks_selected_user = clicks_de_filtered[clicks_de_filtered['#User']==user]['#Offer'].drop_duplicates().values
    
    # Os weights é quanto aquele novo produto é relevante para o usuário em relação ao nível de correlação entre usuários
    weights = topmatch_users.values
    
    recommendations = [] # Lista de possíveis indicações com base nos clicks dos usuários semelhantes
    for user_id in range(len(topmatch_users[:5])): # Loop pelos usuários mais semelhantes
        
        if weights[user_id] < 0:
            continue
            
        clicks_user = clicks_de_filtered[clicks_de_filtered['#User'] == topmatch_users.index[user_id]]['#Offer'] # Clicks de cada usuário da lista top5
        for offer in clicks_user:  # Cliques do usuário
            if offer in clicks_selected_user: # Se já foi um clique do usuário-alvo, não é considerado
                pass
            else:
                recommendations.append((offer, weights[user_id], user_id))
                
    if len(recommendations) == 0: # Caso só existam correlações negativas
        print("Recomendações não foram possíveis")
        return
    
    rec_set = pd.DataFrame(recommendations, columns = ['Offer', 'Weight', 'User']).drop_duplicates() # Dropar Duplicatas
    top5_rec = rec_set.groupby('Offer')['Weight'].sum().sort_values(ascending = False).head() # Top5 Recomendações
    result_final(top5_rec, clicks_selected_user)

In [23]:
lista_recomendacoes(399566)

Clicks do usuário:
Volkswagen Caddy SDI SORTIMO LKW TÜV 08/2017
Opel Frontera B Sport RS Automatik SD Klima
Ford Transit &quot;Nugget&quot; 2.2 TDCi Hochdach Markise AHK
Dodge Nitro 2.8 CRD DPF RED HOT
Volkswagen T5 Transporter DPF Klima Würth Regaleeinbau
Fiat 124 Spider 2000
Skoda Yeti Skoda Yeti 1.4 TSI Ambition PLUS EDITION
Hyundai iX35 1.7 CRDi 2WD Style Plus-P
Toyota Land Cruiser 3.0 D-4D Comfort mit Standheizung & AHK & PDC
Audi Q5 2.0 TDI QUATTRO LEDER NAVI+ XENON+
Ligier Nova 45KM/H MOPEDAUTO - LEICHTMOBIL AB 16JAHRE
Ligier JS 50 DUE Luxe Diesel 45Km/h Kostenlose Anlieferung
BMW X1 sDrive18d (E84) NAVI/KLIMAAUTOMATIK/MFL/USB
Mercedes-Benz Sprinter 316 CDI Kasten Hoch+Lang Klima Standheizung Würth-
Mercedes-Benz C 180 T Kompressor Classic
Dodge Nitro 2.8 CRD DPF SE AHK 20 ZOLL TOP
Renault Laguna II Dynamique Kupplung defekt
Subaru WRX STI Sport TOP neuwertig
Ford Kuga Titanium 2.5 4x4 Auto.NAVI
Kia Sportage 2.0 CRDi AWD AT Spirit - Glasd.
Volkswagen Caddy 2.0 SDI Mini-Camper mit original 59500 km
Renault Master Wohnmobil Rimor XGO 35 Automatik 4 + 2
Volkswagen T4 Multivan * AHK *
Mercedes-Benz AMG GT S
Ligier X-TOO RS 45 Km/h Kostenlose Anlieferung
Skoda Rapid/Spaceback Rapid Spaceback Elegance KLIMA ALU GRA
Skoda Yeti Skoda Yeti 1.8 TSI 4x4 Ambition
Volkswagen Golf Plus KLIMA 5-türig nur 52tkm
Audi Q5 2.0 TDI quattro S-line S-tronic (Navi Xenon Klima
Fiat Ducato Multijet 130 HP L4H2 Klima Neues Modell
Porsche 996 911 996 Carrera 4S
Volkswagen Others andere VW LT 46 2
BMW X4 xDrive35d AT M Sportp Leder PDC Sitzhzg 18&#39;&#39; M
Hyundai iX35 1.7 CRDi DPF FIFA World Cup Edition 2WD
Renault Laguna II Exception
Mercedes-Benz A 140 KLIMAANLAGE
Volkswagen Tiguan 2.0 TDI DPF 4Motion Spot NAVI Mod: 2014
Hyundai iX35 1.7 CRDi 2WD 5 Star Edition
Skoda Rapid/Spaceback Rapid Spaceback Ambition Green tec Ambition
Aixam City Diesel 45 km/h Kostenlose Anlieferung
Audi Q5 2.0 TDI quattro S line S tronic XENON NAVI
Fiat 124 Spider 124 Spider H Kennzeichen Zustand 2
Seat Leon Cupra R 2.0 T FSI Navi
Seat Marbella 25 km/h mit TÜV bis 09 - 2017
Volvo XC60 D5 Momentum AWD AUTO XENON LEDER SHZ PDC
Audi Q5 2.0 TDI quattro
Porsche 914 H-Kennzeichen Leder 3-Sitze abnehmbares Hardtop
Audi SQ5 3.0 TDI Quattro Pano
Ford Transit Custom Nugget*Klimaautomatik
Hyundai i30 Hyundai 1.4 Classic Fensterheber/Klima/USB-Anschlu

Recomendações:
BMW 320 touring d E90
Dacia Logan MCV II 1.5 dCi 90 Prestige
Ford Kuga 2
Skoda Yeti 1.2 TSI Ambition Navi Skoda Garantie 1/2017
Kia Sportage 1.7 CRDI CD AUX MP3 ESP Radio Klimaautom

In [40]:
lista_recomendacoes(405012)

Clicks do usuário:
Skoda Yeti Skoda Yeti 1.4 TSI Ambition PLUS EDITION
Mercedes-Benz Vaneo CDI 1.7CDI Trend Umb.z.Rollstuhltransport
Ligier X-TOO RS 45 Km/h Kostenlose Anlieferung
Audi Q5 2.0 TDI quattro S-line S-tronic (Navi Xenon Klima
Skoda Rapid/Spaceback Rapid Spaceback Ambition Green tec Ambition
Aixam City Diesel 45 km/h Kostenlose Anlieferung
Audi Q5 2.0 TDI quattro S line S tronic XENON NAVI
Seat Marbella 25 km/h mit TÜV bis 09 - 2017
Audi SQ5 3.0 TDI Quattro Pano
Volkswagen Caddy Camper Rarität ! (wie Tramper) MIETEN !
Hyundai iX35 1.7 CRDi 2WD

Recomendações:
Hyundai iX35 1.7 CRDi 2WD Comfort 1.Hand Klima 4xSitzheizung Ei
Hyundai iX35 1.7 CRDi 2WD Style Plus-P
Ford Kuga Titanium 2.5 4x4 Auto.NAVI
Seat Leon Cupra R 2.0 T FSI Navi
Fiat 124 Spider 124 Spider H Kennzeichen Zustand 2

In [41]:
sparse.columns

Int64Index([    15,     56,     88,     92,    107,    145,    148,    155,
               178,    249,
            ...
            404005, 404078, 405012, 405942, 406772, 407865, 408237, 408373,
            408495, 409258],
           dtype='int64', name='#User', length=4788)

# Função com base na relação de cliques dos usuarios
- Essa função usa como base a aula de Sistema de Recomendações que tivemos
- Foi feita uma correlação de user_based para o usuario selecionado "aleatoriamente"
- Passos seguidos nessa função:
    - Dataset original foi carregado
    - Renomeação dos usuarios e ofertas
    - Quantificação dos cliques em categorias, usuarios e ofertas
    - Corte minimo de numeros de cliques de categorias, usuarios e ofertas (reduzindo as linhas do dataset)
    - Verificação quantos usuarios tem cliques parecidos com o usuario selecionado
    - Comparação dos demais cliques desses usuarios com o usuario selecionado e recomendação de ofertas que esses usuarios clicaram que o selecionado não clicou

In [1]:
import pandas as pd
import random

def recomendacao_usuario(path, usuario = 'n',
                         thr_pontuacao_categoria = 10000,
                         thr_pontuacao_oferta = 20,
                         thr_clicks_usuarios = 50,
                        thr_comparacao_usuario_a_usuario = 20,
                        random_seed = 42):
    
    clicks_de = pd.read_csv(path) #carregando o dataframe
    clicks_de.drop(columns = ['Keywords'], axis = 1, inplace=True) #dropando coluna que não será utilizada agora
    #clicks_de['Category'] = clicks_de['Category'].astype(str) #transformando o tipo da coluna em string
    pontuacao_de = pd.DataFrame(clicks_de['Category'].value_counts()).reset_index() #fazendo a pontuação total das categorias
    pontuacao_de.columns = ['Category', 'Pontuacao'] #renomeando as colunas da pontuação

    dici = dict(zip(pontuacao_de.Category, pontuacao_de.Pontuacao)) #transformando em um dicionario para mapear em seguida
    clicks_de['pontuacao'] = clicks_de['Category'].map(dici)
    clicks_de.sort_values(by='pontuacao', inplace = True)

    lista = []
    count = 0
    lista_ids = []


    #renomeando os usuarios em user_1, user_2, etc...
    for coluna in clicks_de.UserId.unique():
        #print(coluna,'_',count)
        #aux = 'user_' + str(count)
        aux = count
        #print(aux.strip())
        lista_ids.append(coluna)
        lista.append(aux)
        count += 1

    lista_offer = []
    count = 0
    lista_offer_ids = []

        #renomeando as ofertas em oferta_1, oferta_2, etc...
    for coluna in clicks_de.OfferId.unique():
        #print(coluna,'_',count)
        #aux = 'oferta_' + str(count)
        aux = count
        #print(aux.strip())
        lista_offer_ids.append(coluna)
        lista_offer.append(aux)
        count += 1

    #mapeando os usuarios + ofertas
    dici_usuarios = dict(zip(lista_ids, lista))
    dici_ofertas = dict(zip(lista_offer_ids, lista_offer))
    clicks_de['usuarios'] = clicks_de['UserId'].map(dici_usuarios)
    clicks_de['ofertas'] = clicks_de['OfferId'].map(dici_ofertas)
    
    clicks_reduzido = clicks_de.drop(columns = ['UserId','OfferId', 'CountryCode','Source','UtcDate', 'OfferViewId'])
    clicks_reduzido = clicks_reduzido.loc[:, ['usuarios','ofertas','Category','pontuacao','OfferTitle']]
    clicks_reduzido.columns = ['usuarios','ofertas','categoria','pontuacao_categoria','titulo_oferta']
    
    
    #criando um esquema de pontuação para cada oferta, quantas vezes aquela oferta foi clicada no total
    pontuacao_ofertas = pd.DataFrame(clicks_reduzido['ofertas'].value_counts()).reset_index()
    pontuacao_ofertas.columns = ['ofertas','pontuacao']
    pontuacao_ofertas = dict(zip(pontuacao_ofertas.ofertas, pontuacao_ofertas.pontuacao))
    clicks_reduzido['pontuacao_ofertas'] = clicks_reduzido['ofertas'].map(pontuacao_ofertas)

    #pontuando os clicks de usuario, quantos clicks cada usuario deu no site
    clicks_usuario =  pd.DataFrame(clicks_reduzido.usuarios.value_counts()).reset_index()
    clicks_usuario.columns = ['usuario','clicks']
    clicks_usuario = dict(zip(clicks_usuario.usuario, clicks_usuario.clicks))
    clicks_reduzido['clicks_usuario'] = clicks_reduzido['usuarios'].map(clicks_usuario)


    #fazendo um corte de tudo, para facilitar a comparação

    mask1 = clicks_reduzido.pontuacao_categoria > thr_pontuacao_categoria
    clicks_reduzido = clicks_reduzido.loc[mask1, :]
    mask2 = clicks_reduzido.pontuacao_ofertas > thr_pontuacao_oferta
    clicks_reduzido = clicks_reduzido.loc[mask2,:]
    mask3 = clicks_reduzido.clicks_usuario > thr_clicks_usuarios
    clicks_reduzido = clicks_reduzido.loc[mask3, :]
    
    sparse = clicks_reduzido.pivot_table(values='clicks_usuario',index='usuarios',columns='ofertas').T

    sparse[sparse.isna()] = 0
    sparse[sparse != 0] = 1


    sparse_user = sparse.T

    random.seed(random_seed)
    if usuario == 'n':
        #usuario = random.choice(sparse_user.T.index)
        usuario = random.choice(clicks_reduzido.usuarios.unique())

    #mostrando os itens que o usuario selecionado clicou
    items_users = clicks_reduzido.loc[clicks_reduzido.usuarios == int(usuario),'ofertas'].dropna()

    #listando todos os usuarios e guardando em uma lista que será usada no looping
    list_of_users = clicks_reduzido.usuarios.unique().tolist()

    #variavel que vai selecionar só os usuarios que tiverem mais que o numero desejado de cliques iguais. Configurado como base em 20!
    thr_comparable = thr_comparacao_usuario_a_usuario

    comparable_users = []

    for user_loop in list_of_users:
        if clicks_reduzido.loc[clicks_reduzido.usuarios == user_loop,'ofertas'].dropna().isin(items_users).sum() > thr_comparable:
            comparable_users.append(user_loop)

            
            
    #selecionando os 5 usuarios mais similares ao nosso usuario target
    top5_most_similar = sparse.loc[:,comparable_users].corrwith(sparse.loc[:,usuario]).sort_values(ascending=False).index[1:6]


    suggested_user = pd.DataFrame()



    #nesse loop adicionamos todos os clicks dos usuarios parecidos que nosso usuario selecionado não tenha clicado!
    for user in top5_most_similar:
        #print(user)
        clicks_user = clicks_reduzido.loc[clicks_reduzido.usuarios == user, :].dropna()
        clicks_user = clicks_user.loc[~clicks_user.ofertas.isin(items_users)]
        #clicks_user = clicks_user.drop_duplicates(subset = 'ofertas')
        suggested_user = pd.concat([suggested_user, clicks_user])
        #print(suggested_user.shape)



        #fazemos uma nova pontuação, com base só nos cliques dos usuarios parecidos e retornamos um dataframe ordenado por essa pontuacao

    pt = suggested_user['ofertas'].value_counts().reset_index()
    pt.columns = ['oferta','pontuacao_ofertas_usuarios']
    nova_pontuacao = dict(zip(pt.oferta, pt.pontuacao_ofertas_usuarios))
    suggested_user['nova_pontuacao'] = suggested_user.ofertas.map(nova_pontuacao)
    suggested_user.drop(columns=['pontuacao_ofertas'], inplace = True)
    suggested_user.drop_duplicates(subset='ofertas', inplace = True)
    suggested_user.sort_values(by='nova_pontuacao', ascending = False, inplace = True)

    dicionario_ofertas_titulos = dict(zip(clicks_reduzido.ofertas, clicks_reduzido.titulo_oferta))
    items_users = pd.DataFrame(items_users)
    items_users['titulo_oferta'] = items_users.ofertas.map(dicionario_ofertas_titulos)
    items_users['usuarios'] = usuario
    #items_users = items_users.loc[:,['usuario', 'ofertas','titulo_oferta']]
           
    return (usuario, items_users, suggested_user)

In [2]:
%%time
path = 'clicks_de_sample_2.txt'
usuario, item_do_usuario, sugestoes = recomendacao_usuario(path)

Wall time: 10.9 s

In [3]:
print('usuario selecionado: ',usuario)
item_do_usuario.head(10)

usuario selecionado:  13886

        ofertas                                      titulo_oferta  usuarios
311145   316494   Aixam City Diesel 45 km/h Kostenlose Anlieferung     13886
360327   316302               Ford Kuga Titanium 2.5 4x4 Auto.NAVI     13886
309324   316518                   Seat Leon Cupra R 2.0 T FSI Navi     13886
307091   316330  Skoda Rapid/Spaceback Rapid Spaceback Elegance...     13886
65786    317070  Dacia Logan MCV 1.6 16V Laureate /Standheizung...     13886
226200   316380  BMW X4 xDrive35d AT M Sportp Leder PDC Sitzhzg...     13886
228596   316322                     Volkswagen T4 Multivan * AHK *     13886
227869   316302               Ford Kuga Titanium 2.5 4x4 Auto.NAVI     13886
330328   316327     Ligier X-TOO RS 45 Km/h Kostenlose Anlieferung     13886
331484   316251  Ligier Nova 45KM/H MOPEDAUTO - LEICHTMOBIL AB ...     13886

In [6]:
sugestoes.head(20)

,usuarios,ofertas,categoria,pontuacao_categoria,titulo_oferta,clicks_usuario,nova_pontuacao
353708,399566,316606,100354123,38800,Seat Leon Cupra R 2.0 T FSI Navi,113,13
212688,399566,316230,100354123,38800,Volkswagen T5 Transporter DPF Klima Würth Rega...,113,10
207297,399566,316398,100354123,38800,Mercedes-Benz A 140 KLIMAANLAGE,113,9
349989,399566,316479,100354123,38800,Skoda Rapid/Spaceback Rapid Spaceback Ambition...,113,8
330679,399566,316357,100354123,38800,Porsche 996 911 996 Carrera 4S,113,8
335558,399566,316279,100354123,38800,Renault Laguna II Dynamique Kupplung defekt,113,8
128046,399566,316276,100354123,38800,Dodge Nitro 2.8 CRD DPF SE AHK 20 ZOLL TOP,113,8
239644,399566,316229,100354123,38800,Dodge Nitro 2.8 CRD DPF RED HOT,113,7
241020,399566,316231,100354123,38800,Fiat 124 Spider 2000,113,7
269477,399566,316217,100354123,38800,Opel Frontera B Sport RS Automatik SD Klima,113,7
213849,399566,316508,100354123,38800,Fiat 124 Spider 124 Spider H Kennzeichen Zusta...,113,7
307324,128755,316983,100354123,38800,Ford Kuga 2,81,7
343407,128755,316254,100354123,38800,Volkswagen Touran /7SITZER/NAVI/SITZHEIZUNG,81,6
429176,128755,316281,100354123,38800,Volkswagen Touareg V10 TDI Vollausstattung,81,6
116067,399566,316525,100354123,38800,Seat Marbella 25 km/h mit TÜV bis 09 - 2017,113,6
323991,399566,316269,100354123,38800,Mercedes-Benz Sprinter 316 CDI Kasten Hoch+Lan...,113,6
333014,399566,316312,100354123,38800,Volkswagen Caddy 2.0 SDI Mini-Camper mit origi...,113,6
313409,36781,316345,100354123,38800,Porsche 996 / 911 GT3 MKII Bi-Xenon Alu Volled...,98,5
421434,128755,316372,100354123,38800,BMW 320 touring d E90,81,5
404957,36781,316512,100354123,38800,Skoda Yeti 1.2 TSI Ambition Navi Skoda Garanti...,98,5

# Funções para obtenção da categoria do

In [58]:
## 601 é a homepage, se aplica a todos
## Primeira separação de categorias
    
def categories(df_cat):
    listados = []
    for item in df_cat.Ancestor_ID:
        listados.append(item.split())
    categories = list()
    for cats in range(1,4):
        category = list()
        for item in listados:
            if len(item) == cats+1:
                category.append(item) 
        categories.append(category)
    return categories

categories = categories(df_de_cat)

In [59]:
macro4 = categories[2]
macro4

[['100450223', '100513023', '100450123', '601'],
 ['100472023', '100513023', '100450123', '601'],
 ['100508823', '100513123', '100450123', '601'],
 ['100508923', '100513123', '100450123', '601'],
 ['100450823', '100513123', '100450123', '601'],
 ['100477023', '134201', '132801', '601'],
 ['100250023', '134201', '132801', '601'],
 ['100046613', '133101', '132801', '601'],
 ['133501', '133101', '132801', '601'],
 ['100367723', '133001', '132801', '601'],
 ['100314123', '133001', '132801', '601'],
 ['133901', '133001', '132801', '601'],
 ['133301', '133001', '132801', '601'],
 ['133201', '133001', '132801', '601'],
 ['100512823', '133001', '132801', '601'],
 ['100327723', '133601', '132801', '601'],
 ['100291623', '133601', '132801', '601'],
 ['134101', '133601', '132801', '601'],
 ['113501', '100326223', '110001', '601'],
 ['100008213', '100326223', '110001', '601'],
 ['111801', '100326223', '110001', '601'],
 ['115701', '100326223', '110001', '601'],
 ['114601', '100326223', '110001', '601'],
 ['100282123', '100326223', '110001', '601'],
 ['113201', '112801', '110001', '601'],
 ['113301', '112801', '110001', '601'],
 ['100239623', '112801', '110001', '601'],
 ['100007713', '112801', '110001', '601'],
 ['100340423', '112801', '110001', '601'],
 ['100282023', '112801', '110001', '601'],
 ['100293223', '112801', '110001', '601'],
 ['113101', '112801', '110001', '601'],
 ['100294523', '100330623', '110001', '601'],
 ['100216323', '100330623', '110001', '601'],
 ['110401', '100330623', '110001', '601'],
 ['100066413', '100330623', '110001', '601'],
 ['100005813', '100330623', '110001', '601'],
 ['100066813', '100330223', '110001', '601'],
 ['111601', '100330223', '110001', '601'],
 ['111501', '100330223', '110001', '601'],
 ['100066613', '100330223', '110001', '601'],
 ['110801', '110701', '110001', '601'],
 ['111101', '110701', '110001', '601'],
 ['110901', '110701', '110001', '601'],
 ['116001', '115801', '110001', '601'],
 ['116401', '115801', '110001', '601'],
 ['116501', '115801', '110001', '601'],
 ['100043413', '115801', '110001', '601'],
 ['100239223', '100330323', '110001', '601'],
 ['110601', '100330323', '110001', '601'],
 ['116901', '100330323', '110001', '601'],
 ['100346323', '100224023', '110001', '601'],
 ['100340223', '100224023', '110001', '601'],
 ['100052213', '100326523', '110001', '601'],
 ['114901', '100326523', '110001', '601'],
 ['114401', '100326523', '110001', '601'],
 ['115401', '100326523', '110001', '601'],
 ['100316423', '100326523', '110001', '601'],
 ['100291823', '100326323', '110001', '601'],
 ['100158013', '100326323', '110001', '601'],
 ['100260023', '100326323', '110001', '601'],
 ['154001', '100222423', '110001', '601'],
 ['115901', '100222423', '110001', '601'],
 ['100146713', '100222423', '110001', '601'],
 ['100005613', '100222423', '110001', '601'],
 ['123501', '100325623', '120501', '601'],
 ['123601', '100325623', '120501', '601'],
 ['100444023', '100325623', '120501', '601'],
 ['124901', '100325623', '120501', '601'],
 ['124501', '100325623', '120501', '601'],
 ['121301', '100060013', '120501', '601'],
 ['123201', '100060013', '120501', '601'],
 ['120901', '100060013', '120501', '601'],
 ['122301', '100060013', '120501', '601'],
 ['122501', '100060013', '120501', '601'],
 ['100282623', '100060013', '120501', '601'],
 ['100311523', '100060013', '120501', '601'],
 ['121601', '100060013', '120501', '601'],
 ['127201', '100310623', '120501', '601'],
 ['100345923', '100310623', '120501', '601'],
 ['127701', '100310623', '120501', '601'],
 ['126701', '100310623', '120501', '601'],
 ['126901', '100325523', '120501', '601'],
 ['100310723', '100325523', '120501', '601'],
 ['100311823', '100325523', '120501', '601'],
 ['100008013', '100325523', '120501', '601'],
 ['100310423', '122901', '120501', '601'],
 ['122701', '122901', '120501', '601'],
 ['122801', '122901', '120501', '601'],
 ['100278923', '122901', '120501', '601'],
 ['100282723', '122901', '120501', '601'],
 ['6513', '100327923', '100471423', '601'],
 ['112101', '100327923', '100471423', '601'],
 ['112201', '100327923', '100471423', '601'],
 ['100010713', '100006813', '125301', '601'],
 ['100020213', '100006813', '125301', '601'],
 ['125801', '100006813', '125301', '601'],
 ['125601', '100016013', '125301', '601'],
 ['126001', '100016013', '125301', '601'],
 ['100331323', '100016013', '125301', '601'],
 ['100563013', '126201', '134301', '601'],
 ['146301', '144701', '144601', '601'],
 ['145001', '144701', '144601', '601'],
 ['146001', '144701', '144601', '601'],
 ['100283023', '144701', '144601', '601'],
 ['147801', '100498923', '144601', '601'],
 ['139401', '100498923', '144601', '601'],
 ['100323123', '100498923', '144601', '601'],
 ['100322923', '100498923', '144601', '601'],
 ['145101', '100498923', '144601', '601'],
 ['146501', '100498923', '144601', '601'],
 ['145401', '100498923', '144601', '601'],
 ['146601', '100498923', '144601', '601'],
 ['100496023', '100498923', '144601', '601'],
 ['147301', '100323223', '144601', '601'],
 ['100283323', '100323223', '144601', '601'],
 ['100014713', '100323223', '144601', '601'],
 ['147201', '100323223', '144601', '601'],
 ['147101', '100323223', '144601', '601'],
 ['146201', '100323223', '144601', '601'],
 ['148301', '100323223', '144601', '601'],
 ['4513', '100323223', '144601', '601'],
 ['147701', '100323223', '144601', '601'],
 ['147901', '100323223', '144601', '601'],
 ['148001', '100323223', '144601', '601'],
 ['146901', '100323223', '144601', '601'],
 ['146801', '100323223', '144601', '601'],
 ['145701', '100323023', '144601', '601'],
 ['145801', '100323023', '144601', '601'],
 ['146401', '100323023', '144601', '601'],
 ['100014413', '100323023', '144601', '601'],
 ['107401', '100364723', '107301', '601'],
 ['100392523', '100364723', '107301', '601'],
 ['170101', '100364723', '107301', '601'],
 ['100568013', '100364723', '107301', '601'],
 ['108701', '100364723', '107301', '601'],
 ['100317323', '100364723', '107301', '601'],
 ['100334223', '100364723', '107301', '601'],
 ['108301', '100248423', '107301', '601'],
 ['108801', '100248423', '107301', '601'],
 ['108101', '100248423', '107301', '601'],
 ['108901', '100248423', '107301', '601'],
 ['108501', '100248423', '107301', '601'],
 ['100052013', '100248423', '107301', '601'],
 ['100332423', '100248423', '107301', '601'],
 ['100332523', '100248423', '107301', '601'],
 ['100342923', '100361223', '117901', '601'],
 ['152401', '100361223', '117901', '601'],
 ['100434023', '100361223', '117901', '601'],
 ['100361423', '100361223', '117901', '601'],
 ['100544223', '164801', '163601', '601'],
 ['100544023', '164801', '163601', '601'],
 ['165201', '100229323', '163601', '601'],
 ['165701', '100229323', '163601', '601'],
 ['166401', '100229323', '163601', '601'],
 ['174201', '100229323', '163601', '601'],
 ['100332223', '164701', '163601', '601'],
 ['100332323', '164701', '163601', '601'],
 ['100572513', '164701', '163601', '601'],
 ['128401', '128001', '100346123', '601'],
 ['128101', '128001', '100346123', '601'],
 ['100345723', '128001', '100346123', '601'],
 ['100270523', '128001', '100346123', '601'],
 ['100270223', '128001', '100346123', '601'],
 ['100270123', '128001', '100346123', '601'],
 ['128601', '128001', '100346123', '601'],
 ['100345823', '128001', '100346123', '601'],
 ['100270423', '128001', '100346123', '601']]

In [60]:
df4 = pd.DataFrame(macro4)#.drop(3, axis = 1)
df4.head()

           0          1          2    3
0  100450223  100513023  100450123  601
1  100472023  100513023  100450123  601
2  100508823  100513123  100450123  601
3  100508923  100513123  100450123  601
4  100450823  100513123  100450123  601

In [67]:
macro3 = categories[1]
df3 = pd.DataFrame(macro3, columns=(1,2,3))
df3.head()

           1       2    3
0  100372023  172601  601
1     173101  172601  601
2  100426223  172601  601
3  100278823  172601  601
4     173801  172601  601

In [68]:
macro2 = categories[0]
df2 = pd.DataFrame(macro2, columns = (2,3))
df2.head()

           2    3
0     172601  601
1  100450123  601
2     132801  601
3     110001  601
4     136801  601

In [69]:
new_df = pd.concat((df4,df3,df2), axis = 0).reset_index(drop = True)
new_df

             0          1          2    3
0    100450223  100513023  100450123  601
1    100472023  100513023  100450123  601
2    100508823  100513123  100450123  601
3    100508923  100513123  100450123  601
4    100450823  100513123  100450123  601
..         ...        ...        ...  ...
304        NaN        NaN     169901  601
305        NaN        NaN     109101  601
306        NaN        NaN     117901  601
307        NaN        NaN     163601  601
308        NaN        NaN  100346123  601

[309 rows x 4 columns]

In [ ]:
grupos1 = list(new_df.dropna(axis = 0).groupby(1)[0])
grupos1

In [ ]:
keys = [keys[0] for keys in grupos1]
itens = [itens[1].tolist() for itens in grupos1]
dicio_cat1 = dict(zip(keys, itens))
dicio_cat1

In [ ]:
def getcat1(produto):
    for key, value in dicio1.items():
        if str(produto) in value:
            return ("categ0: ", produto, " categ1: ", key)
    return False

In [ ]:
getcat1('125601')

In [ ]:
grupos2 = list(new_df.drop(0, axis = 1).dropna(axis=0).groupby(2)[1])
keys = [keys[0] for keys in grupos2]
itens = [itens[1].unique().tolist() for itens in grupos2]
dicio_cat2 = dict(zip(keys, itens))

In [ ]:
dicio_cat2

In [ ]:
def getcat2(produto):
    categoria = getcat1(produto)
    if categoria is not False:
        for key, value in dicio_cat2.items():
            if str(categoria) in value:
                return key, categoria
        return False
    else:
        for key, value in dicio_cat2.items():
            if str(produto) in value:
                return ('categ1: ', key,' categ2: ', produto)
        return False

In [ ]:
getcat2('173801')

In [44]:
tradu_cat = dict(zip(df_de_cat.Ancestor_ID.tolist(), df_de_cat.Name.tolist())) # Dicionário de Tradução de categorias
tradu_cat

{'601': 'Home Page',
 '172601 601': 'Auto & Motor',
 '100372023 172601 601': 'Autoteile & Zubehör',
 '173101 172601 601': 'Car Hi-Fi',
 '100426223 172601 601': 'Car Hi-Fi Zubehör',
 '100278823 172601 601': 'GPS',
 '173801 172601 601': 'Motorradzubehör',
 '173701 172601 601': 'Motorräder, Roller & Quads',
 '100354123 172601 601': 'Neuwagen & Gebrauchtwagen',
 '100384023 172601 601': 'Reifen & Felgen',
 '100450123 601': 'Baby & Kleinkind',
 '100513023 100450123 601': 'Unterwegs',
 '100450223 100513023 100450123 601': 'Kinderwagen',
 '100472023 100513023 100450123 601': 'Kindersitze',
 '100513123 100450123 601': 'Zuhause',
 '100508823 100513123 100450123 601': 'Füttern & Stillen',
 '100508923 100513123 100450123 601': 'Babypflege & Gesundheit',
 '100450823 100513123 100450123 601': 'Babysicherheit',
 '132801 601': 'Beauty & Gesundheit',
 '134201 132801 601': 'Augenoptik',
 '100477023 134201 132801 601': 'Brillen',
 '100250023 134201 132801 601': 'Kontaktlinsen & Zubehör',
 '133101 132801 601': 'Beauty',
 '100046613 133101 132801 601': 'Kosmetik',
 '133501 133101 132801 601': 'Parfum',
 '133001 132801 601': 'Drogerieprodukte',
 '100367723 133001 132801 601': 'Elektrorasierer & Haarschneider',
 '100314123 133001 132801 601': 'Haarpflege',
 '133901 133001 132801 601': 'Hygiene',
 '133301 133001 132801 601': 'Körperpflege',
 '133201 133001 132801 601': 'Körperpflegezubehör',
 '100512823 133001 132801 601': 'Zahnpflege',
 '133601 132801 601': 'Gesundheit',
 '100327723 133601 132801 601': 'Bad-Elektrogeräte',
 '100291623 133601 132801 601': 'Gesundheit & Wellness',
 '134101 133601 132801 601': 'Medikamente',
 '110001 601': 'Computer & Software',
 '100326223 110001 601': 'Computer',
 '113501 100326223 110001 601': 'Notebooks',
 '100008213 100326223 110001 601': 'Notebookzubehör',
 '111801 100326223 110001 601': 'PC-Systeme & Barebones',
 '115701 100326223 110001 601': 'Server ',
 '114601 100326223 110001 601': 'PDA- & GPS-Zubehör',
 '100282123 100326223 110001 601': 'Tablets & E-Book-Reader',
 '112801 110001 601': 'Eingabegeräte',
 '113201 112801 110001 601': 'Tastaturen',
 '113301 112801 110001 601': 'Mäuse & Trackballs',
 '100239623 112801 110001 601': 'PC-Lenkräder',
 '100007713 112801 110001 601': 'Grafiktabletts',
 '100340423 112801 110001 601': 'KVM-Switches',
 '100282023 112801 110001 601': 'Kartenleser',
 '100293223 112801 110001 601': 'Eingabegerätezubehör',
 '113101 112801 110001 601': 'Joysticks & Gamepads',
 '100330623 110001 601': 'Gehäuse & Netzteile',
 '100294523 100330623 110001 601': 'Case Modding',
 '100216323 100330623 110001 601': 'Gehäuse',
 '110401 100330623 110001 601': 'Kabel',
 '100066413 100330623 110001 601': 'Netzteile',
 '100005813 100330623 110001 601': 'USV',
 '100330223 110001 601': 'Karten',
 '100066813 100330223 110001 601': 'Controller',
 '111601 100330223 110001 601': 'Grafikkarten',
 '111501 100330223 110001 601': 'Soundkarten',
 '100066613 100330223 110001 601': 'TV-Karten',
 '110701 110001 601': 'Komponenten',
 '110801 110701 110001 601': 'Lüfter & Kühler',
 '111101 110701 110001 601': 'Motherboards',
 '110901 110701 110001 601': 'Prozessoren',
 '115801 110001 601': 'Laufwerke',
 '116001 115801 110001 601': 'CD/DVD-Laufwerke',
 '116401 115801 110001 601': 'Diskettenlaufwerke',
 '116501 115801 110001 601': 'Festplatten',
 '100043413 115801 110001 601': 'Streamer',
 '100330323 110001 601': 'Multimedia',
 '100239223 100330323 110001 601': 'Mikrofone',
 '110601 100330323 110001 601': 'PC-Lautsprecher',
 '116901 100330323 110001 601': 'Webcams',
 '100224023 110001 601': 'Netzwerke',
 '100346323 100224023 110001 601': 'Netzwerkkomponenten',
 '100340223 100224023 110001 601': 'WLAN',
 '100326523 110001 601': 'Peripherie',
 '100052213 100326523 110001 601': 'All-in-One Drucker',
 '114901 100326523 110001 601': 'Drucker',
 '114401 100326523 110001 601': 'Monitore & Displays',
 '115401 100326523 110001 601': 'Scanner',
 '100316423 100326523 110001 601': 'Druckerzubehör',
 '117001 110001 601': 'Software',
 '100326323 110001 601': 'Speicher',
 '100291823 100326323 110001 601': 'Arbeitsspeicher ',
 '100158013 100326323 110001 601': 'Speicherkarten',
 '100260023 100326323 110001 601': 'USB-Sticks',
 '100222423 110001 601': 'Verbrauchsmaterial',
 '154001 100222423 110001 601': 'Bürobedarf',
 '115901 100222423 110001 601': 'Leermedien',
 '100146713 100222423 110001 601': 'Papier & Folien',
 '100005613 100222423 110001 601': 'Tinte & Toner',
 '136801 601': 'Einrichten & Wohnen',
 '100567613 136801 601': 'Außenleuchten',
 '100566313 136801 601': 'Badmöbel',
 '137001 136801 601': 'Betten & Matratzen',
 '100389523 136801 601': 'Bettwäsche',
 '100119813 136801 601': 'Bilderrahmen & Alben',
 '100007613 136801 601': 'Dekoration',
 '100441023 136801 601': 'Gardinen & Vorhänge',
 '141901 136801 601': 'Heimtextilien',
 '138201 136801 601': 'Innenbeleuchtung',
 '100376523 136801 601': 'Küchenmöbel',
 '100567513 136801 601': 'Leuchtmittel',
 '100358623 136801 601': 'Poster & Kunstdrucke',
 '136901 136801 601': 'Regale & Schränke',
 '137901 136801 601': 'Sofas & Sessel',
 '100440723 136801 601': 'Spiegel',
 '136201 136801 601': 'Teppiche & Auslegware',
 '138001 136801 601': 'Tische & Stühle',
 '100299223 136801 601': 'Wanduhren',
 '120501 601': 'Elektronik & Foto',
 '100325623 120501 601': 'Foto & Video',
 '123501 100325623 120501 601': 'Camcorder',
 '123601 100325623 120501 601': 'Camcorderzubehör',
 '100444023 100325623 120501 601': 'Digitale Bilderrahmen',
 '124901 100325623 120501 601': 'Digitalkameras',
 '124501 100325623 120501 601': 'Fotozubehör',
 '100060013 120501 601': 'Hi-Fi & Audio',
 '121301 100060013 120501 601': 'CD-Player',
 '123201 100060013 120501 601': 'Hi-Fi-Anlagen',
 '120901 100060013 120501 601': 'Kopfhörer',
 '122301 100060013 120501 601': 'Lautsprecher',
 '122501 100060013 120501 601': 'Plattenspieler',
 '100282623 100060013 120501 601': 'Radiowecker & Wetterstationen',
 '100311523 100060013 120501 601': 'Tuner',
 '121601 100060013 120501 601': 'Verstärker & AV-Receiver',
 '100310623 120501 601': 'Heimkino',
 '127201 100310623 120501 601': 'Beamer',
 '100345923 100310623 120501 601': 'Beamerzubehör',
 '127701 100310623 120501 601': 'DVD- & Blu-ray-Player',
 '126701 100310623 120501 601': 'Heimkinosysteme',
 '100325523 120501 601': 'Fernsehen',
 '126901 100325523 120501 601': 'Fernbedienungen',
 '100310723 100325523 120501 601': 'Fernseh- & Audiozubehör',
 '100311823 100325523 120501 601': 'LCD-, LED- & 3D-Fernseher',
 '100008013 100325523 120501 601': 'SAT-Receiver & Set-Top-Boxen ',
 '122901 120501 601': 'Tragbare Audiogeräte',
 '100310423 122901 120501 601': 'Diktiergeräte',
 '122701 122901 120501 601': 'MP3-Player & Multimediaplayer',
 '122801 122901 120501 601': 'MP3-Player-Zubehör',
 '100278923 122901 120501 601': 'Tragbare CD-Player',
 '100282723 122901 120501 601': 'Tragbare Radios',
 '100471423 601': 'Entertainment',
 '5101 100471423 601': 'Bücher & Hörbücher',
 '149201 100471423 601': 'DVD & Blu-ray Filme',
 '150701 100471423 601': 'Musik-CDs',
 '100327923 100471423 601': 'Videospiele & Konsolen',
 '6513 100327923 100471423 601': 'Computer- & Videospiele',
 '112101 100327923 100471423 601': 'Konsolen',
 '112201 100327923 100471423 601': 'Konsolenzubehör',
 '128701 601': 'Essen & Trinken',
 '129801 128701 601': 'Alkoholische Getränke',
 '100567413 128701 601': 'Babynahrung',
 '128801 128701 601': 'Getränke',
 '130401 128701 601': 'Lebensmittel',
 '132601 128701 601': 'Tabakwaren',
 '100014113 601': 'Geschenke, Gutscheine & Tickets',
 '125301 601': 'Handy, Telefon & Fax',
 '100006813 125301 601': 'Mobil',
 '100010713 100006813 125301 601': 'Handys mit Vertrag',
 '100020213 100006813 125301 601': 'Handys ohne Vertrag',
 '125801 100006813 125301 601': 'Handyzubehör',
 '100016013 125301 601': 'Festnetz',
 '125601 100016013 125301 601': 'Faxgeräte',
 '126001 100016013 125301 601': 'Telefone & Anrufbeantworter',
 '100331323 100016013 125301 601': 'Telefonzubehör',
 '100570713 125301 601': 'Smartwatches',
 '134301 601': 'Heimwerken & Garten',
 '100566213 134301 601': 'Arbeitskleidung & Arbeitsschutz',
 '143101 134301 601': 'Automation & Sicherheitstechnik',
 '100567813 134301 601': 'Badkeramik & Badzubehör',
 '100232023 134301 601': 'Baustoffe',
 '100233223 134301 601': 'Eisenwaren',
 '100565213 134301 601': 'Elektrotechnik',
 '143401 134301 601': 'Elektrowerkzeuge',
 '126201 134301 601': 'Erneuerbare Energien',
 '100563013 126201 134301 601': 'Solarenergie',
 '138301 134301 601': 'Gartenbedarf',
 '100356623 134301 601': 'Gartendekoration',
 '100392423 134301 601': 'Gartenmaschinen',
 '137701 134301 601': 'Gartenmöbel',
 '143501 134301 601': 'Gartenwerkzeug',
 '134501 134301 601': 'Grillbedarf',
 '135901 134301 601': 'Handwerkzeuge',
 '142101 134301 601': 'Haustierbedarf',
 '138701 134301 601': 'Pflanzen & Bewässerung',
 '100371523 134301 601': 'Rasenmäher',
 '100462723 134301 601': 'Swimmingpools & Zubehör',
 '144601 601': 'Küche & Haushalt',
 '100564713 144601 601': 'Drogerie',
 '144701 144601 601': 'Elektro-Großgeräte',
 '146301 144701 144601 601': 'Backöfen',
 '145001 144701 144601 601': 'Herde',
 '146001 144701 144601 601': 'Kochfelder',
 '100283023 144701 144601 601': 'Dunstabzugshauben',
 '141601 144601 601': 'Geschirr & Besteck',
 '100498923 144601 601': 'Haushalt',
 '147801 100498923 144601 601': 'Bügeleisen',
 '139401 100498923 144601 601': 'Haushaltswaren',
 '100323123 100498923 144601 601': 'Heizungen & Klimageräte',
 '100322923 100498923 144601 601': 'Reinigungsgeräte & Zubehör ',
 '145101 100498923 144601 601': 'Spülmaschinen',
 '146501 100498923 144601 601': 'Staubsauger',
 '145401 100498923 144601 601': 'Trockner',
 '146601 100498923 144601 601': 'Waschmaschinen',
 '100496023 100498923 144601 601': 'Nähmaschinen',
 '100323223 144601 601': 'Kochen & Backen',
 '147301 100323223 144601 601': 'Eierkocher',
 '100283323 100323223 144601 601': 'Elektrogrills',
 '100014713 100323223 144601 601': 'Fondue & Raclette',
 '147201 100323223 144601 601': 'Fritteusen',
 '147101 100323223 144601 601': 'Kaffee- & Espressomaschinen',
 '146201 100323223 144601 601': 'Mikrowellen',
 '148301 100323223 144601 601': 'Toaster',
 '4513 100323223 144601 601': 'Wasserkocher',
 '147701 100323223 144601 601': 'Küchenmaschinen',
 '147901 100323223 144601 601': 'Saftpressen',
 '148001 100323223 144601 601': 'Schneidemaschinen',
 '146901 100323223 144601 601': 'Handrührer & Mixer',
 '146801 100323223 144601 601': 'Küchengeräte',
 '140401 144601 601': 'Kochgeschirr',
 '140001 144601 601': 'Küchenutensilien',
 '100323023 144601 601': 'Kühlen & Gefrieren',
 '145701 100323023 144601 601': 'Gefrierschränke',
 '145801 100323023 144601 601': 'Kühlkombinationen',
 '146401 100323023 144601 601': 'Kühlschränke',
 '100014413 100323023 144601 601': 'Weinschränke',
 '107301 601': 'Mode & Accessoires',
 '100364723 107301 601': 'Accessoires, Schmuck & Uhren',
 '107401 100364723 107301 601': 'Accessoires',
 '100392523 100364723 107301 601': 'Armbanduhren',
 '170101 100364723 107301 601': 'Koffer & Reisegepäck',
 '100568013 100364723 107301 601': 'Rucksäcke',
 '108701 100364723 107301 601': 'Schmuck',
 '100317323 100364723 107301 601': 'Sonnenbrillen',
 '100334223 100364723 107301 601': 'Taschen',
 '100248423 107301 601': 'Kleidung',
 '108301 100248423 107301 601': 'Damenmode',
 '108801 100248423 107301 601': 'Damenunterwäsche',
 '108101 100248423 107301 601': 'Herrenmode',
 '108901 100248423 107301 601': 'Herrenunterwäsche',
 '108501 100248423 107301 601': 'Baby- & Kindermode',
 '100052013 100248423 107301 601': 'Umstandsmode',
 '100332423 100248423 107301 601': 'Bademode Damen',
 '100332523 100248423 107301 601': 'Bademode Herren',
 '169901 601': 'Reisen & Flüge',
 '100438023 169901 601': 'Ferienhäuser & Ferienwohnungen',
 '172201 169901 601': 'Flüge',
 '170701 169901 601': 'Hotels',
 '172301 169901 601': 'Mietwagen',
 '109101 601': 'Schuhe',
 '109401 109101 601': 'Damenschuhe',
 '109301 109101 601': 'Herrenschuhe',
 '100483023 109101 601': 'Kinderschuhe',
 '100564913 109101 601': 'Sportschuhe Damen',
 '100565013 109101 601': 'Sportschuhe Herren',
 '100565113 109101 601': 'Sportschuhe Kinder',
 '117901 601': 'Spiel & Hobby',
 '168301 117901 601': 'Babyspielzeug',
 '100001 117901 601': 'Basteln & Malen',
 '100082113 117901 601': 'Fanartikel',
 '7113 117901 601': 'Gesellschaftsspiele',
 '100484623 117901 601': 'Karneval & Fasching',
 '100361223 117901 601': 'Musizieren',
 '100342923 100361223 117901 601': 'DJ-Equipment ',
 '152401 100361223 117901 601': 'Musikinstrumente',
 '100434023 100361223 117901 601': 'Musikinstrumentenzubehör',
 '100361423 100361223 117901 601': 'Noten',
 '100201 117901 601': 'Sammeln & Seltenes',
 '100360623 117901 601': 'Schulausstattung',
 '168001 117901 601': 'Spielzeug',
 '100302923 117901 601': 'Spielzeug für Draußen',
 '163601 601': 'Sport & Fitness',
 '164901 163601 601': 'Angelsport & Jagdsport',
 '164401 163601 601': 'Camping & Outdoor',
 '165101 163601 601': 'Fitness & Leichtathletik',
 '163801 163601 601': 'Mannschaftssport',
 '164501 163601 601': 'Outdoor-Ausrüstung',
 '164801 163601 601': 'Radsport',
 '100544223 164801 163601 601': 'Fahrradteile & Fahrradzubehör',
 '100544023 164801 163601 601': 'Fahrräder',
 '100229323 163601 601': 'Sport',
 '165201 100229323 163601 601': 'Golf',
 '165701 100229323 163601 601': 'Racketsport',
 '166401 100229323 163601 601': 'Skaten',
 '174201 100229323 163601 601': 'Wintersport',
 '100014313 163601 601': 'Sportartikel',
 '164701 163601 601': 'Sportbekleidung',
 '100332223 164701 163601 601': 'Sportbekleidung Damen',
 '100332323 164701 163601 601': 'Sportbekleidung Herren',
 '100572513 164701 163601 601': 'Sportbekleidung Kinder',
 '134001 163601 601': 'Sporternährung',
 '166501 163601 601': 'Wassersport',
 '100346123 601': 'Weitere Kategorien',
 '128001 100346123 601': 'Erotik',
 '128401 128001 100346123 601': 'Erotik-DVDs & -CDs',
 '128101 128001 100346123 601': 'Erotikliteratur',
 '100345723 128001 100346123 601': 'Erotischer Schmuck',
 '100270523 128001 100346123 601': 'Fetisch',
 '100270223 128001 100346123 601': 'Kondome',
 '100270123 128001 100346123 601': 'Sex Gags',
 '128601 128001 100346123 601': 'Sexspielzeug',
 '100345823 128001 100346123 601': 'Sexdrogerie',
 '100270423 128001 100346123 601': 'Sexy Mode & Dessous ',
 '100091613 100346123 601': 'Fundgrube'}

## Considerações:

- Problema de Cold Start
- Limitação de recomendação apenas de itens já clicados por outros usuários
- Limitação de atributos dos usuários e produtos

## Próximos Passos:

- Utilizar as categorias, supercategorias e subcategorias dos itens clicados para fazer novas recomendações com base nesses agrupamentos
- Utilizar o horário e sequencia dos clicks para fazer novas recomendações
- Agregar previsões/recomendações a partir de algoritmos de Machine Learning (KNN, etc) ***PRIORIZAR***
- Avaliar a clusterização de usuários para definir personas dos clientes
- Avaliar a implementação de Ensembles (Voting Classifier) utilizando diferentes estratégias para definição das recomendações
- Simulação com usuários aleatórios.